body {
    background-image: url("https://watermark.lovepik.com/photo/20211118/large/lovepik-street-in-the-middle-of-the-forest-picture_450085294.jpg");
}

h1,
p {
    color: rgb(255, 47, 186);
}

.semaforo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -160px;
    background-color: #333;
    width: 120px;
    border-radius: 30px;
}

.light {
    height: 90px;
    width: 90px;
    margin: 12px auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.selected {
    box-shadow: #a696da 0px 0px 50px 20px;
}